In [10]:
from pandas import DataFrame, read_csv
import matplotlib.pyplot as plt
import sys
import pandas as pd

In [17]:
#print('Python version ' + sys.version)
print('Pandas version ' + pd.__version__)
print('Matplotlib version ' + matplotlib.__version__)
names = ["Martin", "Kim", "Kai", "Caro"]
briths = [99, 89, 98, 99]
babyDataSet = list(zip(names, briths))
print(babyDataSet)

Pandas version 0.20.3

NameError: name 'matplotlib' is not defined

In [21]:
names = ['Bob','Jessica','Mary','John','Mel']
births = [968, 155, 77, 578, 973]
BabyDataSet = list(zip(names,births))
BabyDataSet

[('Bob', 968), ('Jessica', 155), ('Mary', 77), ('John', 578), ('Mel', 973)]

In [20]:
df = pd.DataFrame(data = BabyDataSet, columns=['Names', 'Births'])
df

     Names  Births
0      Bob     968
1  Jessica     155
2     Mary      77
3     John     578
4      Mel     973

In [22]:
df.to_csv?

In [23]:
df.to_csv('births1880.csv',index=False,header=False)

In [27]:
read_csv?
Location = r'C:\Users\laraa\Documents\Python Scripts\Data\births1880.csv'
df = pd.read_csv(Location)
df = pd.read_csv(Location, names=['Names','Births'])
df

     Names  Births
0      Bob     968
1  Jessica     155
2     Mary      77
3     John     578
4      Mel     973

In [30]:
df.dtypes

Names     object
Births     int64
dtype: object

In [32]:
Sorted = df.sort_values(['Births'], ascending=False)
Sorted.head(1)

  Names  Births
4   Mel     973

In [35]:
df['Births'].max()

973