In [1]:
import pandas as pd

In [2]:
Location = r'C:\Users\laraa\Documents\Python Scripts\Data\Parking_Violations_Issued_-_Fiscal_Year_2018.csv'
df = pd.read_csv(Location)
df.head()

,Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Street Code1,...,Vehicle Color,Unregistered Vehicle?,Vehicle Year,Meter Number,Feet From Curb,Violation Post Code,Violation Description,No Standing or Stopping Violation,Hydrant Violation,Double Parking Violation
0,1398749692,HXL0464,PA,PAS,06/24/2017,14.0,VAN,JEEP,P,38430.0,...,GY,0.0,0.0,-,0.0,NaN,NaN,NaN,NaN,NaN
1,1398751765,HSL6756,NY,PAS,07/11/2017,16.0,SDN,NISSA,P,13610.0,...,GRAY,0.0,2017.0,-,0.0,NaN,NaN,NaN,NaN,NaN
2,1398759193,GWY8601,NY,PAS,07/10/2017,51.0,SUBN,BMW,P,0.0,...,BLACK,0.0,2005.0,-,0.0,NaN,NaN,NaN,NaN,NaN
3,1399031417,K518GN,NY,999,07/14/2017,21.0,SDN,NISSA,S,26790.0,...,BLUE,0.0,0.0,-,0.0,NaN,NaN,NaN,NaN,NaN
4,1399031466,HDG7313,NY,PAS,07/03/2017,21.0,SDN,VOLKS,S,21790.0,...,GRAY,0.0,2008.0,-,0.0,NaN,NaN,NaN,NaN,NaN

In [71]:
time =df['Violation Time']
count = 0
for i in time:
    if type(i) == str:
        if 'A' in i:
            count += 1
           
    else:
        print(i)
        
print(count)

nan
nan
616

In [72]:
#frequency
import collections
marke = df['Vehicle Make']
zahl = collections.Counter(marke)
print("Frequency of the elements in the List : ",zahl)

Frequency of the elements in the List :  Counter({'TOYOT': 183, 'HONDA': 180, 'NISSA': 131, 'FORD': 85, 'ME/BE': 70, 'CHEVR': 67, 'JEEP': 63, 'BMW': 58, 'HYUND': 46, 'DODGE': 39, 'CHRYS': 25, 'ACURA': 24, 'VOLKS': 23, 'LINCO': 23, 'INFIN': 23, 'KIA': 22, 'GMC': 21, 'AUDI': 21, nan: 20, 'LEXUS': 19, 'MAZDA': 17, 'CADIL': 14, 'VOLVO': 11, 'MITSU': 11, 'SUBAR': 10, 'MERCU': 10, 'ROVER': 9, 'MINI': 5, 'HYUN': 4, 'BUICK': 4, 'SMART': 3, 'WABA': 3, 'SAAB': 3, 'JAGUA': 3, 'PORSC': 2, 'SATUR': 2, 'SCION': 2, 'INTER': 1, 'MARKY': 1, 'TESLA': 1, 'MARE': 1, 'HUMME': 1, 'LANDS': 1, 'ROLLS': 1, 'SUZUK': 1, 'INFI': 1, 'FIAT': 1, 'HARLE': 1, 'PONTI': 1})

In [39]:
#frequency
import collections
marke = df['Vehicle Make']

marke = marke.tolist()
MINI = marke.count("MINI")
NISSA = marke.count("NISSA")
MITSU = marke.count("MITSU")
ctr = collections.Counter(marke)
print("Frequency of the elements in the List : ",ctr)
        
print(type(marke))
print(NISSA)
print(MINI)
print(MITSU)
#print(y)

Frequency of the elements in the List :  Counter({'TOYOT': 183, 'HONDA': 180, 'NISSA': 131, 'FORD': 85, 'ME/BE': 70, 'CHEVR': 67, 'JEEP': 63, 'BMW': 58, 'HYUND': 46, 'DODGE': 39, 'CHRYS': 25, 'ACURA': 24, 'VOLKS': 23, 'LINCO': 23, 'INFIN': 23, 'KIA': 22, 'GMC': 21, 'AUDI': 21, nan: 20, 'LEXUS': 19, 'MAZDA': 17, 'CADIL': 14, 'VOLVO': 11, 'MITSU': 11, 'SUBAR': 10, 'MERCU': 10, 'ROVER': 9, 'MINI': 5, 'HYUN': 4, 'BUICK': 4, 'SMART': 3, 'WABA': 3, 'SAAB': 3, 'JAGUA': 3, 'PORSC': 2, 'SATUR': 2, 'SCION': 2, 'INTER': 1, 'MARKY': 1, 'TESLA': 1, 'MARE': 1, 'HUMME': 1, 'LANDS': 1, 'ROLLS': 1, 'SUZUK': 1, 'INFI': 1, 'FIAT': 1, 'HARLE': 1, 'PONTI': 1})
<class 'list'>
131
5
11

In [42]:
import time;

localtime = time.asctime( time.localtime(time.time()) )
print ("Local current time :", localtime)

Local current time : Tue Feb 13 19:15:30 2018

In [69]:
zeit = df['Violation Time']
am = 0
pm = 0
for zeile in zeit:
    if type(zeile) == str:
        if 'A' in zeile:
            am += 1
        elif 'P' in zeile:
            pm += 1
print("AM:", am)
print("PM:", pm)

AM: 616
PM: 650

In [132]:
df['Violation Time']

0       0625A
1       0957A
2       0136P
3       1006A
4       1156A
5       0325A
6       0836A
7       0838A
8       0841A
9       0843A
10      0836A
11      0948A
12      0816A
13      1120A
14      0910A
15      0943A
16      0130A
17      0737A
18      0737A
19      0741A
20      0808A
21      0813A
22      0836A
23      0838A
24      0846A
25      0839A
26      1115A
27      1115A
28      0150A
29      0157A
        ...
1238    1113P
1239    1033P
1240    0717A
1241    0120A
1242    0110A
1243    0105A
1244    1143A
1245    0211P
1246    0858A
1247    0318P
1248    1121P
1249    0258P
1250    1011A
1251    0539A
1252    0547A
1253    0614A
1254    0625A
1255    0834A
1256    0926A
1257    0958A
1258    1107A
1259    0520A
1260    0525A
1261    0543A
1262    0557A
1263    0611A
1264    0624A
1265    0727A
1266    0810A
1267    0821A
Name: Violation Time, Length: 1268, dtype: object

In [137]:
import collections
time = df['Violation Time']
time = time.tolist()
tmppm = []
tmpam = []
for zeile in time:
    if type(zeile) == str:
        if 'P' in zeile:
            if  not '12'in zeile:
                wortp = zeile[0:-1]
                wortp = int(wortp)+ 1200
                wortp = str(wortp)
                wortp = str(wortp[0:2]) + ":" + str(wortp[2:])
                tmppm.append(wortp)
            else:
                worta = zeile[0:-1]
                worta = worta[0:2] + ":" + worta[2:]
                tmppm.append(worta)
        else:
            worta = zeile[0:-1]
            worta = worta[0:2] + ":" + worta[2:]
            tmppm.append(worta)
print(tmppm)

['06:25', '09:57', '13:36', '10:06', '11:56', '03:25', '08:36', '08:38', '08:41', '08:43', '08:36', '09:48', '08:16', '11:20', '09:10', '09:43', '01:30', '07:37', '07:37', '07:41', '08:08', '08:13', '08:36', '08:38', '08:46', '08:39', '11:15', '11:15', '01:50', '01:57', '02:03', '02:10', '11:55', '12:00', '07:42', '07:35', '06:55', '07:15', '07:30', '07:35', '07:41', '07:42', '08:02', '09:50', '08:36', '12:45', '07:20', '11:06', '11:10', '09:35', '11:19', '09:21', '07:38', '07:38', '07:38', '01:30', '12:10', '01:11', '12:42', '01:14', '01:18', '12:35', '12:42', '12:30', '09:15', '09:20', '10:44', '10:51', '10:02', '09:59', '09:33', '17:33', '14:52', '19:11', '19:09', '19:20', '19:05', '19:04', '03:12', '16:11', '13:17', '13:14', '01:12', '18:05', '18:40', '19:16', '19:23', '14:30', '19:25', '10:45', '19:47', '19:35', '19:24', '19:26', '19:32', '20:15', '18:45', '09:44', '11:18', '09:57', '15:41', '08:50', '19:39', '19:29', '05:12', '01:20', '13:15', '13:08', '13:05', '17:40', '09:40', '11:28', '21:45', '08:12', '23:09', '08:50', '08:06', '08:15', '15:14', '17:39', '14:22', '22:08', '02:00', '04:00', '04:40', '04:45', '00:39', '20:00', '17:05', '01:25', '10:10', '12:05', '01:20', '13:07', '08:13', '08:29', '13:52', '21:18', '21:18', '23:52', '18:48', '22:35', '22:15', '16:10', '08:47', '09:15', '08:40', '12:10', '03:40', '03:55', '12:38', '03:16', '03:43', '05:39', '03:35', '03:38', '03:30', '12:35', '10:40', '10:50', '20:10', '08:35', '08:40', '09:58', '09:02', '10:30', '10:48', '11:00', '09:35', '10:44', '11:42', '08:18', '12:27', '12:38', '12:45', '11:05', '10:40', '08:30', '17:39', '17:58', '18:50', '17:40', '17:28', '17:53', '20:05', '10:20', '18:35', '01:40', '21:00', '12:45', '18:33', '20:20', '17:27', '11:54', '16:25', '11:34', '15:44', '16:02', '12:50', '10:40', '10:19', '10:52', '10:57', '11:36', '12:14', '11:15', '11:40', '12:05', '12:20', '11:00', '08:10', '12:10', '09:37', '11:43', '14:20', '09:52', '09:50', '11:25', '12:24', '05:23', '12:12', '11:07', '11:05', '09:25', '18:30', '09:30', '01:24', '13:10', '01:20', '11:42', '11:37', '11:39', '11:30', '15:40', '15:35', '15:33', '12:45', '12:42', '12:40', '14:30', '14:23', '11:36', '12:15', '13:53', '13:02', '12:58', '09:02', '09:09', '08:40', '10:43', '10:57', '09:20', '08:55', '11:16', '16:01', '15:58', '10:07', '10:09', '09:52', '15:10', '17:45', '12:43', '12:55', '15:56', '12:05', '12:00', '03:12', '15:47', '15:43', '15:32', '15:45', '09:37', '09:49', '16:25', '17:22', '17:25', '16:28', '12:41', '15:20', '15:22', '15:24', '15:41', '16:00', '11:29', '12:15', '12:56', '19:30', '19:38', '14:18', '18:03', '13:06', '13:36', '09:01', '09:33', '17:47', '18:17', '17:13', '10:57', '10:49', '10:13', '11:55', '09:30', '09:27', '18:27', '18:15', '17:38', '18:28', '11:00', '16:23', '11:37', '11:42', '13:15', '13:19', '18:25', '14:24', '16:38', '11:10', '11:55', '12:07', '16:29', '17:31', '16:50', '16:30', '16:44', '09:00', '17:31', '15:42', '16:45', '20:18', '20:22', '17:20', '13:35', '14:38', '10:16', '07:40', '07:55', '08:00', '08:20', '08:58', '07:28', '08:00', '08:00', '10:06', '10:20', '10:25', '10:35', '09:05', '09:24', '09:50', '10:02', '10:25', '10:30', '21:01', '03:30', '03:50', '03:27', '08:35', '11:30', '12:30', '09:40', '02:12', '15:27', '22:20', '16:00', '10:28', '14:00', '08:47', '12:54', '08:50', '12:43', '18:31', '18:34', '06:12', '20:41', '18:57', '19:20', '05:28', '03:30', '04:35', '04:47', '01:30', '01:35', '13:34', '14:33', '09:53', '09:17', '08:37', '08:43', '13:45', '09:12', '08:48', '12:48', '21:51', '06:22', '02:47', '22:06', '08:45', '20:57', '12:10', '23:15', '21:40', '22:55', '01:24', '01:30', '23:04', '01:54', '23:40', '22:55', '23:00', '17:39', '10:05', '01:28', '01:21', '02:41', '08:40', '02:30', '02:46', '01:49', '13:46', '22:07', '22:10', '15:04', '12:17', '12:21', '09:12', '07:51', '16:44', '02:56', '08:17', '01:52', '01:59', '06:43', '01:03', '01:13', '01:16', '01:21', '15:22', '15:28', '10:01', '10:06', '10:10', '10:22', '10:59', '12:20', '17:31', '13:33', '19:45', '14:34', '15:52', '15:13', '09:10', '10:30', '09:00', '16:30', '17:07', '17:30', '16:29', '16:30', '16:27', '16:27', '17:11', '13:30', '12:20', '12:28', '12:30', '08:52', '09:50', '10:03', '09:56', '09:28', '11:40', '09:17', '09:50', '09:05', '09:05', '09:13', '11:45', '10:37', '13:40', '15:43', '11:03', '11:23', '11:26', '11:39', '11:32', '21:57', '17:23', '22:45', '18:54', '18:10', '19:45', '20:07', '09:03', '18:30', '15:45', '16:55', '21:45', '15:10', '05:25', '11:20', '18:00', '20:10', '20:20', '22:39', '22:30', '21:40', '22:30', '11:33', '11:37', '12:45', '21:50', '14:30', '16:40', '20:15', '19:10', '18:50', '18:00', '14:11', '15:00', '22:30', '17:46', '11:29', '14:34', '15:46', '16:56', '17:03', '19:19', '20:45', '20:47', '20:57', '19:31', '19:24', '18:53', '17:59', '17:53', '17:40', '12:28', '12:32', '12:36', '12:37', '12:18', '12:20', '22:38', '12:55', '12:50', '22:50', '22:32', '22:17', '13:16', '15:30', '22:33', '22:27', '22:03', '22:29', '21:19', '16:39', '20:02', '21:10', '21:20', '22:10', '22:20', '09:35', '10:05', '10:09', '10:23', '10:27', '09:38', '09:51', '09:55', '10:40', '10:08', '10:17', '10:04', '10:07', '10:12', '12:59', '13:02', '10:11', '10:42', '11:11', '11:16', '20:52', '19:39', '19:45', '19:48', '08:40', '08:58', '09:34', '09:37', '09:50', '09:03', '09:17', '09:24', '11:39', '11:39', '12:02', '12:54', '08:32', '10:08', '10:24', '10:27', '10:33', '10:38', '10:43', '10:45', '20:58', '10:49', '10:51', '10:52', '10:53', '11:00', '09:46', '09:47', '09:50', '09:40', '09:42', '09:45', '01:59', '12:45', '10:08', '08:07', '10:31', '08:24', '14:16', '07:53', '11:53', '02:30', '08:13', '08:16', '08:19', '08:34', '08:40', '03:20', '12:56', '08:00', '11:44', '08:38', '10:02', '10:18', '10:21', '10:22', '10:29', '10:27', '10:29', '10:46', '10:59', '12:57', '09:37', '20:16', '20:28', '18:34', '18:37', '18:39', '18:42', '18:23', '18:35', '18:27', '18:08', '21:23', '20:35', '20:35', '14:30', '16:35', '17:15', '19:15', '08:11', '17:40', '09:34', '10:31', '15:37', '22:09', '15:48', '01:10', '12:20', '17:32', '17:37', '17:47', '20:54', '11:27', '18:56', '21:05', '22:29', '14:28', '14:25', '14:21', '16:04', '18:19', '22:32', '16:42', '16:38', '15:36', '22:05', '12:18', '12:32', '14:10', '12:22', '14:20', '14:24', '15:18', '09:45', '22:02', '22:11', '15:37', '15:41', '15:08', '21:42', '20:25', '20:28', '22:06', '22:08', '10:30', '22:34', '14:40', '17:24', '17:29', '15:56', '22:13', '22:54', '21:42', '11:22', '22:30', '22:37', '22:50', '22:28', '22:26', '22:04', '22:09', '16:50', '17:14', '17:20', '17:30', '17:42', '16:08', '16:14', '15:54', '16:05', '16:10', '17:31', '17:42', '17:48', '17:53', '06:01', '18:10', '18:16', '15:02', '22:00', '22:20', '12:05', '12:07', '12:13', '12:31', '12:10', '21:02', '12:10', '22:20', '22:05', '12:52', '12:55', '12:15', '18:40', '12:40', '12:31', '12:30', '12:25', '12:20', '12:14', '01:08', '12:18', '22:30', '01:25', '01:27', '12:15', '17:29', '17:29', '01:40', '01:40', '22:30', '18:00', '17:50', '17:45', '17:40', '10:15', '07:18', '10:10', '10:16', '17:11', '17:55', '18:28', '18:30', '07:40', '09:30', '13:54', '14:44', '14:46', '16:05', '16:15', '16:20', '12:24', '12:27', '12:30', '09:31', '09:50', '09:45', '12:36', '07:42', '07:45', '08:13', '08:31', '08:33', '10:04', '10:06', '10:17', '10:33', '10:38', '11:00', '11:02', '11:12', '11:12', '11:19', '11:20', '10:01', '11:27', '11:29', '11:06', '17:35', '21:30', '13:19', '16:16', '16:52', '18:01', '16:08', '16:10', '19:23', '03:25', '15:34', '12:42', '09:04', '09:06', '01:27', '13:37', '21:35', '12:30', '12:19', '12:37', '01:00', '01:25', '02:09', '02:17', '02:20', '15:02', '20:59', '21:29', '20:29', '20:35', '08:33', '12:31', '20:11', '04:52', '21:48', '12:10', '07:15', '02:50', '20:05', '22:25', '22:25', '22:25', '22:30', '21:53', '18:36', '19:50', '23:00', '12:53', '12:00', '11:48', '11:52', '09:50', '09:46', '11:23', '17:25', '11:25', '16:40', '20:58', '16:53', '20:55', '16:50', '15:38', '12:05', '15:08', '09:14', '09:15', '09:40', '08:20', '16:49', '22:36', '16:49', '16:56', '17:05', '17:10', '17:20', '17:30', '16:06', '20:30', '21:42', '22:05', '21:44', '10:44', '22:28', '22:26', '12:10', '12:17', '12:25', '12:08', '21:46', '16:40', '22:36', '12:19', '12:27', '12:30', '12:37', '12:40', '12:45', '12:45', '12:50', '12:55', '12:58', '16:02', '14:21', '17:30', '17:40', '22:14', '16:19', '16:15', '16:11', '16:38', '16:36', '17:14', '14:42', '10:17', '10:21', '16:40', '16:44', '09:53', '01:27', '16:15', '16:21', '16:38', '09:43', '09:46', '09:55', '10:02', '10:09', '15:38', '19:02', '18:51', '10:33', '15:47', '16:30', '16:35', '19:00', '19:10', '19:05', '19:15', '19:11', '19:08', '07:41', '08:07', '07:43', '07:40', '07:18', '07:20', '10:30', '10:48', '16:08', '12:41', '09:16', '16:04', '18:46', '11:50', '09:59', '09:07', '01:17', '09:31', '11:57', '17:51', '12:10', '12:01', '11:43', '04:12', '17:09', '01:22', '01:28', '15:25', '15:26', '16:55', '04:12', '16:18', '16:19', '10:25', '09:04', '09:46', '09:43', '12:01', '17:09', '17:05', '07:58', '12:33', '12:28', '14:30', '20:00', '01:25', '00:50', '20:45', '06:45', '12:40', '20:50', '10:30', '12:28', '15:05', '18:28', '09:30', '23:40', '12:15', '01:25', '22:59', '09:40', '15:39', '23:17', '06:50', '02:09', '01:18', '04:51', '01:30', '08:20', '08:30', '03:20', '22:18', '22:33', '02:10', '08:50', '04:45', '04:57', '11:56', '09:55', '12:30', '19:50', '17:20', '03:00', '03:23', '01:44', '03:40', '01:34', '01:37', '17:05', '20:10', '22:59', '03:35', '22:40', '17:07', '19:27', '19:27', '20:10', '08:25', '04:15', '06:05', '16:09', '01:50', '01:10', '01:10', '06:55', '01:58', '17:20', '10:38', '10:05', '08:04', '16:00', '16:00', '16:00', '16:00', '16:00', '17:10', '17:10', '05:10', '02:22', '02:22', '01:20', '02:29', '01:15', '15:29', '10:50', '02:12', '10:45', '14:23', '11:50', '01:20', '12:00', '22:38', '19:52', '16:36', '07:05', '19:10', '07:05', '18:02', '18:07', '10:43', '12:31', '12:52', '13:09', '03:42', '12:08', '02:15', '12:47', '05:28', '05:33', '05:45', '06:06', '06:26', '07:38', '12:06', '10:10', '08:38', '09:03', '13:11', '12:36', '14:09', '17:50', '18:17', '18:02', '10:05', '12:45', '12:50', '09:45', '09:51', '10:13', '08:57', '09:31', '12:59', '12:59', '13:05', '15:23', '15:30', '16:20', '13:04', '01:20', '17:55', '18:05', '19:58', '12:04', '12:13', '12:51', '15:00', '15:06', '15:15', '15:03', '21:17', '16:40', '06:44', '10:29', '11:58', '22:35', '21:07', '20:02', '01:44', '16:56', '17:32', '20:17', '18:13', '16:35', '12:58', '16:04', '18:14', '13:04', '13:37', '18:39', '20:02', '18:38', '17:08', '20:07', '17:53', '17:22', '18:35', '19:56', '18:45', '18:00', '16:40', '22:42', '10:16', '15:54', '14:15', '12:10', '07:13', '17:21', '20:31', '01:35', '01:37', '04:11', '06:55', '02:12', '02:12', '21:02', '20:10', '18:57', '19:33', '09:30', '08:46', '08:07', '16:07', '15:30', '09:30', '16:30', '07:50', '08:18', '09:36', '09:21', '08:08', '02:44', '17:30', '17:30', '17:30', '16:15', '16:15', '17:25', '16:15', '15:45', '12:38', '17:05', '20:07', '20:23', '20:35', '03:50', '07:50', '08:51', '11:19', '22:56', '09:31', '09:53', '10:08', '23:13', '22:33', '07:17', '01:20', '01:10', '01:05', '11:43', '14:11', '08:58', '15:18', '11:21', '14:58', '10:11', '05:39', '05:47', '06:14', '06:25', '08:34', '09:26', '09:58', '11:07', '05:20', '05:25', '05:43', '05:57', '06:11', '06:24', '07:27', '08:10', '08:21']

In [163]:
import collections
time = df['Violation Time']
time = time.tolist()
tmppm = []
tmpam = []
def sortTime( ):
    for zeile in time:
        if type(zeile) == str:
            if 'P' in zeile:
                if  not '12'in zeile:
                    wortp = zeile[0:-1]
                    wortp = int(wortp)+ 1200
                    wortp = str(wortp)
                    wortp = str(wortp[0:2]) + ":" + str(wortp[2:])
                    tmppm.append(wortp)
                else:
                    wortpm = zeile[0:-1]
                    wortpm = '00' +":" + zeile.split('2')[1]
                    tmppm.append(wortpm)
            else:
                worta = zeile[0:-1]
                worta = worta[0:2] + ":" + worta[2:]
                tmppm.append(worta)
   # print(tmppm)
    return tmppm

def intervall(int number):
    tmp = []
    alist = sortTime()
    for i in alist:
        wort1 = i.split(':')[0]
        wort2 = i.split(':')[1]
        if '00' in wort1:
            wort = str( 0 + number ) +":" + wort2
            tmp.append(wort)
        else:
            wort = int(wort1)
            wort = wort + number
            wort = str(wort)+ ':' + wort2
            tmp.append(wort) 

        
        
    return tmp


print(sortTime( ))
print(intervall(3))

SyntaxError: invalid syntax (<ipython-input-163-6f2a95769905>, line 27)

In [162]:
alist = ['00:30', '09:23', '12:26']
tmp = []
for i in alist:
    wort = i.split(':')[0]
    wort2 = i.split(':')[1]
    #wortz = int(wort)
    if '00' in wort:
        wort = str(0+3)+ ':' + wort2
        tmp.append(wort)
    else:
        wort = int(wort)
        wort = wort +3
        wort = str(wort)+ ':' + wort2
        tmp.append(wort)

print(tmp)

['3:30', '12:23', '15:26']

In [130]:
tmp = "012a"
tmp = tmp[0:-1]

print(int(tmp)+13)
tmp = int(tmp)+13
tmp = str(tmp)
print(type(tmp))
tmp = str(tmp)
tmp = str(tmp[0:-1]) + ":" + str(tmp[1:])
alist = []
alist.append(tmp)
print(alist)

25
<class 'str'>
['2:5']

In [114]:
tmp = "012a"
tmp = tmp[0:-1]

print(int(tmp))
tmp = tmp[0:-1] + ":" + tmp[1:]
alist = []
alist.append(tmp)
print(alist)

12
['01:12']